.vk-button {
  --ts-button-font-weight: var(--ts-font-weight-primary);
  --ts-button-border-color: var(--ts-border-color);
  --ts-button-bg-color: var(--ts-fill-color-blank);
  --ts-button-text-color: var(--ts-text-color-regular);
  --ts-button-disabled-text-color: var(--ts-disabled-text-color);
  --ts-button-disabled-bg-color: var(--ts-fill-color-blank);
  --ts-button-disabled-border-color: var(--ts-border-color-light);
  --ts-button-hover-text-color: var(--ts-color-primary);
  --ts-button-hover-bg-color: var(--ts-color-primary-light-9);
  --ts-button-hover-border-color: var(--ts-color-primary-light-7);
  --ts-button-active-text-color: var(--ts-button-hover-text-color);
  --ts-button-active-border-color: var(--ts-color-primary);
  --ts-button-active-bg-color: var(--ts-button-hover-bg-color);
  --ts-button-outline-color: var(--ts-color-primary-light-5);
  --ts-button-active-color: var(--ts-text-color-primary);
}
.vk-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--ts-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  font-weight: var(--ts-button-font-weight);
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: var(--ts-button-bg-color);
  border: var(--ts-border);
  border-color: var(--ts-button-border-color);
  padding: 8px 15px;
  font-size: var(--ts-font-size-base);
  border-radius: var(--ts-border-radius-base);
  & + & {
    margin-left: 12px;
  }
  &:hover,
  &:focus {
    color: var(--ts-button-hover-text-color);
    border-color: var(--ts-button-hover-border-color);
    background-color: var(--ts-button-hover-bg-color);
    outline: none;    
  }
  &:active {
    color: var(--ts-button-active-text-color);
    border-color: var(--ts-button-active-border-color);
    background-color: var(--ts-button-active-bg-color);
    outline: none;
  }
  &.is-plain {
    --ts-button-hover-text-color: var(--ts-color-primary);
    --ts-button-hover-bg-color: var(--ts-fill-color-blank);
    --ts-button-hover-border-color: var(--ts-color-primary);    
  }
  /*round*/
  &.is-round {
    border-radius: var(--ts-border-radius-round);
  }
  /*circle*/
  &.is-circle {
    border-radius: 50%;
    padding: 8px;
  }
  /*disabled*/
  &.is-disabled, &.is-disabled:hover, &.is-disabled:focus, 
  &[disabled], &[disabled]:hover, &[disabled]:focus 
  {
    color: var(--ts-button-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
    background-color: var(--ts-button-disabled-bg-color);
    border-color: var(--ts-button-disabled-border-color);
  }
  [class*=vk-icon] + span {
    margin-left: 6px;
  }
}
/* @each $val in primary,success,warning,info,danger {
  .ts-button--$(val) {
    --ts-button-text-color: var(--ts-color-white);

  }
} */