:root {
  /* colors */
  --ts-color-white: #ffffff;
  --ts-color-black: #000000;

  /* 必须要有结尾分号 */
  --colorMap: (
    primary: #409eff,
    success: #67c23a,
    warning: #e6a23c,
    danger: #f56c6c,
    info: #909399
  );

  @each $buttonType, $colorValue in var(--colorMap) {
    --ts-color-$(buttonType): $(colorValue);
    
    @for $i from 3 to 9 by 2 {
      --ts-color-$(buttonType)-light-$(i): mix(#fff, $(colorValue), .$(i));
    }

    --ts-color-$(buttonType)-light-8: mix(#fff, $(colorValue), .8);
    --ts-color-$(buttonType)-dark-2: mix(#000, $(colorValue), .2);
  }

  /* border */
  --ts-bg-color: #ffffff;
  --ts-bg-color-page: #f2f3f5;
  --ts-bg-color-overlay: #ffffff;
  --ts-text-color-primary: #303133;
  --ts-text-color-regular: #606266;
  --ts-text-color-secondary: #909399;
  --ts-text-color-placeholder: #a8abb2;
  --ts-text-color-disabled: #c0c4cc;
  --ts-border-color: #dcdfe6;
  --ts-border-color-light: #e4e7ed;
  --ts-border-color-lighter: #ebeef5;
  --ts-border-color-extra-light: #f2f6fc;
  --ts-border-color-dark: #d4d7de;
  --ts-border-color-darker: #cdd0d6;
  --ts-fill-color: #f0f2f5;
  --ts-fill-color-light: #f5f7fa;
  --ts-fill-color-lighter: #fafafa;
  --ts-fill-color-extra-light: #fafcff;
  --ts-fill-color-dark: #ebedf0;
  --ts-fill-color-darker: #e6e8eb;
  --ts-fill-color-blank: #ffffff;

  /* border */
  --ts-border-width: 1px;
  --ts-border-style: solid;
  --ts-border-color-hover: var(--ts-text-color-disabled);
  --ts-border: var(--ts-border-width) var(--ts-border-style) var(--ts-border-color);
  --ts-border-radius-base: 4px;
  --ts-border-radius-small: 2px;
  --ts-border-radius-round: 20px;
  --ts-border-radius-circle: 100%;

  /* font */
  --ts-font-size-extra-large: 20px;
  --ts-font-size-large: 18px;
  --ts-font-size-medium: 16px;
  --ts-font-size-base: 14px;
  --ts-font-size-small: 13px;
  --ts-font-size-extra-small: 12px;
  --ts-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial, sans-serif;
  --ts-font-weight-primary: 500;

  /* disabled */
  --ts-disabled-bg-color: var(--ts-fill-color-light);
  --ts-disabled-text-color: var(--ts-text-color-placeholder);
  --ts-disabled-border-color: var(--ts-border-color-light);
}