.ts-collapse {
  --ts-collapse-border-color: var(--ts-border-color-light);
  --ts-collapse-header-height: 48px;
  --ts-collapse-header-bg-color: var(--ts-fill-color-blank);
  --ts-collapse-header-text-color: var(--ts-text-color-primary);
  --ts-collapse-header-font-size: 13px;
  --ts-collapse-content-bg-color: var(--ts-fill-color-blank);
  --ts-collapse-content-font-size: 13px;
  --ts-collapse-content-text-color: var(--ts-text-color-primary);
  --ts-collapse-disabled-text-color: var(--ts-disabled-text-color);
  --ts-collapse-disabled-border-color: var(--ts-border-color-lighter);
  border-top: 1px solid var(--ts-collapse-border-color);
  border-bottom: 1px solid var(--ts-collapse-border-color);
}
.ts-collapse-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--ts-collapse-header-height);
  line-height: var(--ts-collapse-header-height);
  background-color: var(--ts-collapse-header-bg-color);
  color: var(--ts-collapse-header-text-color);
  cursor: pointer;
  font-size: var(--ts-collapse-header-font-size);
  font-weight: 500;
  transition: border-bottom-color var(--ts-transition-duration);
  outline: none;
  border-bottom: 1px solid var(--ts-collapse-border-color);

  &.is-disabled {
    color: var(--ts-collapse-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
  }
  &.is-active {
    border-bottom-color: transparent;

    /*  */
    .ts-collapse-item__header-icon {
      transform: rotate(90deg);
    }
  }

  .ts-collapse-item__header-icon {
    transition: transform var(--ts-transition-duration);
  }
}

.ts-collapse-item__content-wrapper {
  overflow: hidden;
}

.ts-collapse-item__content {
  will-change: height;
  background-color: var(--ts-collapse-content-bg-color);
  overflow: hidden;
  box-sizing: border-box;
  font-size: var(--ts-collapse-content-font-size);
  color: var(--ts-collapse-content-text-color);
  border-bottom: 1px solid var(--ts-collapse-border-color);
  /* padding-bottom: 25px; */
}

/* .slide-enter-to, .slide-leave-from {
  height: 60px;
} */

.slide-enter-active,
.slide-leave-active {
  transition: height var(--ts-transition-duration) ease;
}
/* .fade-enter-from,
.fade-leave-to {
  opacity: 0;
} */